<section class="inner-intro bg-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
      <!--<h1 data-title="About"><span>Chairman's Message</span></h1>-->
    </div>
  </div>
</section>
<div id="about-section" class="padding pt-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-box pb-30">
          <h2><span>Chairman's</span> Message</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-right:15px; padding-left:0px">
          <div class=" wish-send haslayout">
            <figure>
              <%= image_tag('director.jpg',style: "border:2px solid #26b1a4") %>
            </figure>
          </div>
        </div>
        <% if @president_message.present? %>
          <p class="inner-p"><%= raw @president_message.description %></p>
        <% else %>
          <p class="inner-p">
            Dear students and parents / Guardians of&nbsp;<strong><b>SDSK International Public SCHOOL</b></strong><strong><b>.</b></strong></p><p><b> </b>It is with great pleasure that I welcome you to our school website. I am honored and feel very privileged to be the Principal of <strong><b>SDSK International Public School, Etawah.</b></strong></p><p>On behalf of the entire team at SDSK, I welcome you all to the SDSK family. It is extremely exciting to begin the academic year 2019-20. At SDSK, the goal of education is to provide an environment to the pupils which incorporates authentic learning and personal development. It allows learners to solve the types of complex problems they face in today’s ever-changing and ever-evolving world.</p><p>Our school has an outstanding reputation for establishing high expectations and achieving excellent academic results. Talents too are constantly developed through sports and varied co-curricular activities. This, in turn, results in widening the scope of education and makes it more consequential.</p><p>We believe that excellence is the gradual result of always striving to do better, hence our Motto “In Pursuit of Excellence!”</p><p>Parents play a vital role in the overall development of the child. The foundation of a successful school is the cooperation between the students, staff, and parents.</p><p>In conclusion, I wish you all a very wonderful and a gainful school year.</p><p>I hope you enjoy your visit to the website.</p><p>Yours in Education,
            </p>
          </p>
        <% end %>
        <p class="inr-hd"><br><b style="font-size:20px">MR. SHIVAM SINGH<br />DIRECTOR</p>
      </div>
      <div class="col-sm-3">
        <%= render 'layouts/side_bar' %>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .mission-img{
    background: url("<%= asset_path('bg_1.jpg') %>") 0 20% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
</style>
